useDynLib(fsdac, .registration=TRUE)

importFrom("utils", "flush.console")
importFrom("stats", "coef")
importFrom("robustbase", "rankMM")

export(myc, addt, FSRbsb, FSRfan, LXS, FSR, FSRmdr, Sreg, Sregeda, FSMenvmmd, FSRenvmdr, FSMmmd, FSMbsb, FSM, unibiv
)

## S3 methods for ``our own'' S3 generics:

## S3method(LXS, default)
## S3method(LXS, formula)

## S3method(FSR, default)
## S3method(FSR, formula)

## Register all the methods for S3 generics elsewhere
## in case namespace is loaded but not currently attached.

S3method(print, LTS)
S3method(print, LMS)
S3method(print, FSR)
S3method(print, Sreg)
S3method(print, Sregeda)
S3method(plot, FSRmdr)
S3method(plot, FSMmmd)
S3method(plot, FSMenvmmd)
S3method(plot, FSRenvmdr)
S3method(plot, FSM)
